$text-color: #333;
$text-size: 1.5rem;
$background-image: url("../../assets/images/bg-01.jpg");
$border-radius: 10px;

// colors
$white: #fff;
$black: #333333;
$black-fade: #6c6565;
$primary-color: #a64bf4;
$secondary-color: #00dbde;
$tertiary-color: #fc00ff;
